
<div class="center jumbotron">
	<h1>Welcome to VMS Secure Payments</h1>
  <h2>
    Request and Receive Payments Securely
  </h2>
	<%= link_to "Create Account", '#', id: "lovely-button", class: "btn btn-lg btn-primary" %>
</div>
