<% provide(:title, "Privacy Policy") %>


<div id="privacy-policy" class="container">
  <h1>Privacy policy</h1>
  <p>We collect certain information or data about you when you use VMS Secure Payments.</p>
  <p>This includes:</p>
  <ul>
    <li>contact details (including your email address) for future correspondence</li>
    <li>information on how you use the site, using client storage to help us improve the website and personalise your experience</li>
  </ul>
  <p>This helps us to:</p>
  <ul>
    <li>improve the site by monitoring how you use it</li>
    <li>respond to any communication from you</li>
  </ul>


  <h2>Where your data is stored</h2>
  <p>We store your data on our secure servers.</p>

  <p>We do not store sensitive credit/debit card details.</p>
  


  <p>By submitting your personal data, you agree to this.</p>

  <h2>Keeping your data secure</h2>
  <p>Transmitting information over the internet is generally not completely secure, and we can’t guarantee the security of your data.</p>

	<p class="pp-bold">Any data you transmit is at your own risk.</p>

  <p>We have procedures and security features in place to try and keep your data secure once we receive it.</p>
  
  <p>Card details that we collect are processed by <a href="https://stripe.com/gb/payments">Stripe</a>. This helps to ensure that we are PCI-DSS compliant and your details are used safely.</p>

  <p class="pp-bold">Payment transactions are always encrypted.</p>
  
  <p>We won’t share your information with any other organisations for marketing, market research or commercial purposes, and we don’t pass on your details to other websites.</p>

  <h2>Disclosing your information</h2>
  <p>We may pass on your personal information if we have a legal obligation to do so.</p>

  <h2>Your rights</h2>
  <p>You can find out what information we hold about you <%= link_to "here", contact_path %>. You may also ask us not to use any of the information we collect.</p>

  <h2>Links to other websites</h2>
  <p>VMS Secure Payments contains links to and from other websites.</p>

  <p>This privacy policy only applies to this website.</p>

  <p class="pp-bold">Following a link to another website</p>

  <p>If you go to another website from this one, read the privacy policy on that website to find out what it does with your information.</p>

  <p class="pp-bold">Following a link to VMS Secure Payments from another website</p>

  <p>If you come to VMS Secure Payments from another website, we may receive personal information about you from the other website. You should read the privacy policy of the website you came from to find out more about this.</p>

  <p style="color: #708090">Last updated: 07 June 2017</p>
  <p style="color: #708090">This privacy policy has been adapted from <a href="https://www.gov.uk/help/privacy-policy">www.gov.uk/help/privacy-policy</a></p>
</div>