@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins, variables, etc */

$nearly-black: #111;
$darker-grey: #333;
$mid-grey: #555;
$grey-black: #222;
$lightish-grey: #777;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}	

/* Site wide styles */

body {
	padding-top: 60px;
	font-family: 'Oswald', sans-serif;
	color: $nearly-black
}

body, html {
    height: 100%;
}

#page-container {
	padding-left: 0;
	padding-right: 0
}

p, strong {
	font-size: 16px
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.jumbotron {
	background-color: transparent;
	color: white;
	text-shadow: 2px 2px 8px black;	
	h1 {
		font-size: 3em
	};
	h2 {
		font-size: 2em
	};
	.btn {
		margin-top: 10px;
		background-color: $darker-grey;
		color: white;
		padding: 12px;
		font-size: 20px;
		border-radius: 0;
		border: none;
		&:hover {
			background-color: $mid-grey
		}		
	}
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
	padding-bottom :9px
}

.header-align-bottom {
	position: absolute;
	bottom: 0;
	right: 50px
}

#nav-links {
	font-size: 1.1em
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightish-grey;
}

footer a {
  color: $mid-grey;
}

footer a:hover {
  color: $grey-black;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* Parallax */

.parallax { 
	/* The image used */
	background: image-url("online_payment.jpg");

	/* Set a specific height or change to 100% */
	height: 500px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Privacy policy */

#privacy-policy {
	ul li {
		font-size: 16px
	};
	.pp-bold {
		font-size: 18px; 
		font-weight: bold
	}
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing
}

input {
  height: auto !important;
}

