<footer class="footer container">
  <small>
    <%= link_to "VMS Secure Payments.", '#' %>
    Powered by <a href="https://www.stripe.com/">Stripe</a>
  </small>
  <nav>
    <ul class="navbar-right">
			<small>
				<li><%= link_to "Help",   '#' %></li>
				<li><%= link_to "Contact", '#' %></li>
				<li><%= link_to "Privacy Policy", '#' %></li>
			</small>
    </ul>
  </nav>
</footer>